@{
    Layout = null;
    ViewBag.Title = "LandingTeam";
}
<!DOCTYPE HTML>

<html class="bodyPage">
<head>
    <title>Landing Team</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Content/LandingTeam.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <!-- Header -->
    <header>
        <section>
            <nav>
                <a href="~/Login/Login">Inicio Sesión</a>
                <a href="~/RegistroForm/RegistroForm">Registrarse</a>
                <a href="~/Home/LandingProduct">CLINNIX</a>
            </nav>

            <!-- Section Principal -->

            <h1 class="title-header">DevCoders</h1>

        </section>


    </header>
    <img class="imagenteam" src="~/Content/Imagenes/logo_dorado-s.png" />

    <!-- Section Main Principal-->
    <main>
        <section id="one" class="container">
            <h2 class="title">Sobre nosotros</h2>
            <div class="container-b1">
                <div class="sb-texto">
                    <p>
                        DevCoders te brinda las mejores soluciones tecnológicas para un mundo innovador.
                        Implementamos metodologías ágiles, creativas, flexibles y orientadas a nuestros
                        clientes, para el desarrollo de sus plataformas y hacemos realidad
                        tus emprendimientos para innovaciones nuevas.
                    </p>

                    <p>
                        Trabajamos orientados bajo una línea de valores priorizando al cliente, incrementando
                        metodologías de desarrollo del trabajo en equipo, mejorando la eficiencia y calidad de nuestros servicios.
                    </p>
                </div>
            </div>
        </section>

        <!-- Section Main Team-->
        <section id="one" class="container">
            <h2 class="title">Equipo de Trabajo</h2>
            <div class="container-b2">
                <div class="img-b2">
                    <img src="~/Content/Imagenes/software-2.jpg" />
                    <div class="hover-b2">
                        <h3>Alberto Solano</h3>
                        <p>Contacto</p>
                        <p>asolanov@ucenfotec.ac.cr</p>
                        <p>Contacto</p>
                        <p>8791-8947</p>
                    </div>
                </div>

                <div class="img-b2">
                    <img src="~/Content/Imagenes/images.jpeg" />
                    <div class="hover-b2">
                        <h3>Brayan Rodriguez </h3>
                        <p>Contacto</p>
                        <p>brodriguezm@ucenfotec.ac.cr</p>
                        <p>Contacto</p>
                        <p>5713-9310</p>
                    </div>
                </div>

                <div class="img-b2">
                    <img src="~/Content/Imagenes/software-4.jpg" />
                    <div class="hover-b2">
                        <h3>Saúl Rojas</h3>
                        <p>Contacto</p>
                        <p>srojase@ucenfotec.ac.cr</p>
                        <p>Contacto</p>
                        <p>7207-9045</p>
                    </div>
                </div>

                <div class="img-b2">
                    <img src="~/Content/Imagenes/software-5.jpg" />
                    <div class="hover-b2">
                        <h3>Frank Perez</h3>
                        <p>Contacto</p>
                        <p>fpereza@ucenfotec.ac.cr</p>
                        <p>6196-9279</p>
                    </div>
                </div>

                <div class="img-b2">
                    <img src="~/Content/Imagenes/software-1.jpg" />
                    <div class="hover-b2">
                        <h3>Daniel Sandoval</h3>
                        <p>Contacto</p>
                        <p>dsandovala@ucenfotec.ac.cr</p>
                        <p>8648-8146</p>
                    </div>
                </div>

            </div>
        </section>

        <!-- Section Main Services-->
        <section id="two" class="container">
            <h2 class="title">Servicios</h2>
            <div class="container-b3">
                <div class="img-b3">
                    <img src="~/Content/Imagenes/diseño-web.jpg" />
                    <div class="hover-b3">
                        <p class="Service">Diseño</p>
                        <p class="infoSer">Diseñamos la página de tus sueños.</p>
                        <p class="infoSer">DevCoders hacemos volar tu imaginación.</p>
                    </div>
                </div>
                <div class="img-b3">
                    <img src="~/Content/Imagenes/desarrollo-web.jpg" />
                    <div class="hover-b3">
                        <p class="Service">Desarrollo</p>
                        <p class="infoSer">Desarrollamos la página de sus sueños.</p>
                        <p class="infoSer">DevCoders hacemos sus sueños realidad.</p>


                    </div>
                </div>
            </div>
        </section>
        <section id="one" class="container">
            <h2 class="title">Nuestros Valores</h2>

            <p class="sub-title"> Trabajo en equipo:</p>
            <li class="descripcion">Establecer la unión de los integrantes de una forma positiva para lograr una buena cooperación dentro de las actividades a desarrollar y así poder lograr un fin común de forma eficiente, de esta manera poder resolver de forma más sencilla posibles conflictos que se presenten más adelante.</li>

            <p class="sub-title"> Calidad:</p>
            <li class="descripcion">Proporcionar soluciones de calidad que le permitan a los clientes satisfacer las necesidades de su negocio de una forma eficiente, donde el producto tenga alta calidad y cumpla o exceda las expectativas de los clientes.</li>

            <p class="sub-title">Honestidad:</p>
            <li class="descripcion">Valor moral fundamental para entablar relaciones interpersonales basadas en la confianza, la sinceridad y el respeto mutuo. </li>

            <p class="sub-title"> Responsabilidad:</p>
            <li class="descripcion">Nuestro objetivo es cumplir con las exigencias de nuestros clientes y brindarles productos en tiempos establecidos.</li>

            <p class="sub-title">Eficacia:</p>
            <li class="descripcion">Analizar, buscar opciones y solucionar problemas durante su proceso o fase final.</li>



        </section>
    </main>

    <!-- Footer -->

    <footer>

        <div class="redirecion">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("DevCoder", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>


        <div class="img-b6">
            <img src="~/Content/Imagenes/logo_dorado-s.png" />
            <div class="hover-b2">
                <h3>DevCoders</h3>
                <p>Ucenfotec</p>
            </div>
        </div>

        <div class="c-footer">
            <ul class="item">
                <li>&copy; DevCoders. All rights reserved.</li>
            </ul>
        </div>
    </footer>

</body>
</html>

